interfazCliente/Connected Services/ServicioMetodos/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60782/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Peliculas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificacion" type="xs:int" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duracion" type="xs:float" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peliculas" nillable="true" type="tns:Peliculas" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grupo" type="ser:char" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="semestre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="Operacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="num1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operacion" nillable="true" type="tns:Operacion" />
</xs:schema>