interfazCliente/Connected Services/ServicioMetodos/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60782/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60782/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60782/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerDatosPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosPeliculas" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerDatosPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscaPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaPeliculas" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscaPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAlumno" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_elevarCuadrado_InputMessage">
    <wsdl:part name="parameters" element="tns:elevarCuadrado" />
  </wsdl:message>
  <wsdl:message name="IService1_elevarCuadrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:elevarCuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComparaNum_InputMessage">
    <wsdl:part name="parameters" element="tns:ComparaNum" />
  </wsdl:message>
  <wsdl:message name="IService1_ComparaNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComparaNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerDatosPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerDatosPeliculas" message="tns:IService1_ObtenerDatosPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerDatosPeliculasResponse" message="tns:IService1_ObtenerDatosPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscaPeliculas" message="tns:IService1_BuscaPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscaPeliculasResponse" message="tns:IService1_BuscaPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarAlumno" message="tns:IService1_BuscarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarAlumnoResponse" message="tns:IService1_BuscarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="elevarCuadrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/elevarCuadrado" message="tns:IService1_elevarCuadrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/elevarCuadradoResponse" message="tns:IService1_elevarCuadrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComparaNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComparaNum" message="tns:IService1_ComparaNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComparaNumResponse" message="tns:IService1_ComparaNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosPeliculas">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerDatosPeliculas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaPeliculas">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscaPeliculas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAlumno">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elevarCuadrado">
      <soap:operation soapAction="http://tempuri.org/IService1/elevarCuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComparaNum">
      <soap:operation soapAction="http://tempuri.org/IService1/ComparaNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60782/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>